global
  log stdout format raw local0

defaults
  log global
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s

resolvers docker
  nameserver dns 127.0.0.11:53
  hold valid 2s

frontend admin_front
  bind *:8081
  default_backend admin_nodes

backend admin_nodes
  balance roundrobin
  option httpchk GET /health
  http-check expect status 200
  server-template admin 5 admin:8081 check resolvers docker init-addr libc,none
